/**
 * Owl Carousel v2.2.0
 * Copyright 2013-2016 David Deutsch
 * Licensed under MIT (https://github.com/OwlCarousel2/OwlCarousel2/blob/master/LICENSE)
 */
/*
 *  Owl Carousel - Core
 */
.owl-carousel {
  display: none;
  width: 100%;
  height: 100%;
  -webkit-tap-highlight-color: transparent;
  /* position relative and z-index fix webkit rendering fonts issue */
  position: relative;
  z-index: 1; }
.owl-carousel h1 {
  text-shadow: 0px 1px 5px rgba(62, 42, 41, 0.15);
  font-size: rem-calc(60);
  line-height: rem-calc(68);
}
.owl-carousel p {
  margin: 0 auto;
  max-width: rem-calc(640);
  margin-bottom: rem-calc(30);
}
.owl-carousel .owl-stage {
  position: relative;
  -ms-touch-action: pan-Y;
  width: 100%;
  height: 100%;}
.owl-carousel .owl-stage .slide-item {
  width: 100%;
  height: 100%;
  position: relative;
}
.owl-carousel .owl-stage .owl-item.animated {
  animation-duration: 700ms !important;
}
.owl-carousel .owl-stage .slide-item .img {
  position: absolute;
  z-index: -1;
  top: 0;
  right: 0;
}
.owl-carousel .owl-stage .slide-item .row {
  height: 100%;
}
.owl-carousel .owl-stage:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0; }
.owl-carousel .owl-stage-outer {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 100%;
  /* fix for flashing background */
  -webkit-transform: translate3d(0px, 0px, 0px); }
.owl-carousel .owl-item {
  position: relative;
  min-height: 1px;
  float: left;
  -webkit-backface-visibility: hidden;
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  width: 100%;
  height: 100%;}
.owl-carousel .owl-item img {
  display: block;
  width: 100%;
  -webkit-transform-style: preserve-3d; }
.owl-carousel .owl-nav.disabled,
.owl-carousel .owl-dots.disabled {
  display: none; }
.owl-carousel .owl-nav .owl-prev,
.owl-carousel .owl-nav .owl-next,
.owl-carousel .owl-dot {
  cursor: pointer;
  cursor: hand;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }
.owl-carousel.owl-loaded {
  display: block; }
.owl-carousel.owl-loading {
  opacity: 0;
  display: block; }
.owl-carousel.owl-hidden {
  opacity: 0; }
.owl-carousel.owl-refresh .owl-item {
  visibility: hidden; }
.owl-carousel.owl-drag .owl-item {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }
.owl-carousel.owl-grab {
  cursor: move;
  cursor: grab; }
.owl-carousel.owl-rtl {
  direction: rtl; }
.owl-carousel.owl-rtl .owl-item {
  float: right; }

/* No Js */
.no-js .owl-carousel {
  display: block; }

/*
 *  Owl Carousel - Animate Plugin
 */
.owl-carousel .animated {
  -webkit-animation-duration: 1000ms;
  animation-duration: 1000ms;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both; }

.owl-carousel .owl-animated-in {
  z-index: 0; }

.owl-carousel .owl-animated-out {
  z-index: 1; }

.owl-carousel .fadeOut {
  -webkit-animation-name: fadeOut;
  animation-name: fadeOut; }

@-webkit-keyframes fadeOut {
  0% {
    opacity: 1; }
  100% {
    opacity: 0; } }

@keyframes fadeOut {
  0% {
    opacity: 1; }
  100% {
    opacity: 0; } }

/*
 * 	Owl Carousel - Auto Height Plugin
 */
.owl-height {
  transition: height 500ms ease-in-out; }

/*
 * 	Owl Carousel - Lazy Load Plugin
 */
.owl-carousel .owl-item .owl-lazy {
  opacity: 0;
  transition: opacity 400ms ease; }

.owl-carousel .owl-item img.owl-lazy {
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d; }

/*
 * 	Owl Carousel - Video Plugin
 */
.owl-carousel .owl-video-wrapper {
  position: relative;
  height: 100%;
  background: #000; }

.owl-carousel .owl-video-play-icon {
  position: absolute;
  height: 80px;
  width: 80px;
  left: 50%;
  top: 50%;
  margin-left: -40px;
  margin-top: -40px;
  background: url("owl.video.play.png") no-repeat;
  cursor: pointer;
  z-index: 1;
  -webkit-backface-visibility: hidden;
  transition: -webkit-transform 100ms ease;
  transition: transform 100ms ease; }

.owl-carousel .owl-video-play-icon:hover {
  -webkit-transform: scale(1.3, 1.3);
  -ms-transform: scale(1.3, 1.3);
  transform: scale(1.3, 1.3); }

.owl-carousel .owl-video-playing .owl-video-tn,
.owl-carousel .owl-video-playing .owl-video-play-icon {
  display: none; }

.owl-carousel .owl-video-tn {
  opacity: 0;
  height: 100%;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
  transition: opacity 400ms ease; }

.owl-carousel .owl-video-frame {
  position: relative;
  z-index: 1;
  height: 100%;
  width: 100%; }

/**
 * Owl Carousel v2.2.0
 * Copyright 2013-2016 David Deutsch
 * Licensed under MIT (https://github.com/OwlCarousel2/OwlCarousel2/blob/master/LICENSE)
 */
/*
 * 	Full theme - Owl Carousel CSS File
 */
.owl-full .owl-nav {
  position: absolute;
  top: 50%;
  transform: translate(0%,-50%);
  width: 100%;
  height: 100%;
  margin: 0;
  border: none;
  pointer-events: none;
}
.owl-full .owl-nav [class*='owl-'] {
  pointer-events: auto;
  position: absolute;
  width: 50px;
  height: 100%;
  display: block;
  top: 0;
  font-size: 0;
  opacity: .5;
  transition: all 300ms ease;
}
.owl-full .owl-nav .owl-next {
  right: rem-calc(0);
}
.owl-full .owl-nav .owl-next:after {
  content: '';
  display: block;
  width: 100%;
  height: 100%;
  background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIiBwcmVzZXJ2ZUFzcGVjdFJhdGlvPSJ4TWlkWU1pZCIgd2lkdGg9IjI0IiBoZWlnaHQ9IjQwLjAzMSIgdmlld0JveD0iMCAwIDI0IDQwLjAzMSI+CiAgPGRlZnM+CiAgICA8c3R5bGU+CiAgICAgIC5jbHMtMSB7CiAgICAgICAgZmlsbDogIzNlMmEyOTsKICAgICAgICBmaWxsLXJ1bGU6IGV2ZW5vZGQ7CiAgICAgIH0KICAgIDwvc3R5bGU+CiAgPC9kZWZzPgogIDxwYXRoIGQ9Ik0xNC43MjAsMjAuMDAwIEwxLjExOCwzMy40OTIgQy0wLjM3NCwzNC45ODUgLTAuMzc0LDM3LjM5NSAxLjExOCwzOC44OTEgQzIuNjI2LDQwLjM4MyA1LjA2NCw0MC4zNzkgNi41NjcsMzguODkxIEwyMi44ODAsMjIuNjk5IEMyNC4zNzYsMjEuMjExIDI0LjM3NiwxOC43ODkgMjIuODgwLDE3LjMwMSBMNi41NjcsMS4xMDkgQzUuMDY0LC0wLjM4MyAyLjYyNiwtMC4zNzkgMS4xMTgsMS4xMDkgQy0wLjM3NCwyLjYwMiAtMC4zNzQsNS4wMTYgMS4xMTgsNi41MDggTDE0LjcyMCwyMC4wMDAgWiIgY2xhc3M9ImNscy0xIi8+Cjwvc3ZnPgo=);
  background-size: rem-calc(10);
  background-repeat: no-repeat;
  background-position: center;
}
.owl-full .owl-nav .owl-prev {
  left: rem-calc(0);
}
.owl-full .owl-nav .owl-prev:after {
  content: '';
  display: block;
  width: 100%;
  height: 100%;
  background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIiBwcmVzZXJ2ZUFzcGVjdFJhdGlvPSJ4TWlkWU1pZCIgd2lkdGg9IjI0IiBoZWlnaHQ9IjQwLjAzMSIgdmlld0JveD0iMCAwIDI0IDQwLjAzMSI+CiAgPGRlZnM+CiAgICA8c3R5bGU+CiAgICAgIC5jbHMtMSB7CiAgICAgICAgZmlsbDogIzNlMmEyOTsKICAgICAgICBmaWxsLXJ1bGU6IGV2ZW5vZGQ7CiAgICAgIH0KICAgIDwvc3R5bGU+CiAgPC9kZWZzPgogIDxwYXRoIGQ9Ik0xNC43MjAsMjAuMDAwIEwxLjExOCwzMy40OTIgQy0wLjM3NCwzNC45ODUgLTAuMzc0LDM3LjM5NSAxLjExOCwzOC44OTEgQzIuNjI2LDQwLjM4MyA1LjA2NCw0MC4zNzkgNi41NjcsMzguODkxIEwyMi44ODAsMjIuNjk5IEMyNC4zNzYsMjEuMjExIDI0LjM3NiwxOC43ODkgMjIuODgwLDE3LjMwMSBMNi41NjcsMS4xMDkgQzUuMDY0LC0wLjM4MyAyLjYyNiwtMC4zNzkgMS4xMTgsMS4xMDkgQy0wLjM3NCwyLjYwMiAtMC4zNzQsNS4wMTYgMS4xMTgsNi41MDggTDE0LjcyMCwyMC4wMDAgWiIgY2xhc3M9ImNscy0xIi8+Cjwvc3ZnPgo=);
  background-size: rem-calc(10);
  background-repeat: no-repeat;
  background-position: center;
  transform: rotate(180deg);
}
.owl-full .owl-nav [class*='owl-']:hover {
  opacity: 1;
}
.owl-full .owl-nav .disabled {
  opacity: 0.5;
  cursor: default; }

.owl-full .owl-nav.disabled + .owl-dots {
  margin-top: 10px; }

.owl-full .owl-dots {
  position: absolute;
  bottom: rem-calc(50);
  left: rem-calc(50);
  text-align: center;
  -webkit-tap-highlight-color: transparent; }
.owl-full .owl-dots .owl-dot {
  display: block;

}
.owl-full .owl-dots .owl-dot span {
  width: rem-calc(6);
  height: rem-calc(6);
  transform: scale(1);
  margin: rem-calc(20 5);
  background-color: rgba(255,255,255,1);
  display: block;
  -webkit-backface-visibility: visible;
  transition: all 200ms ease;
  border-radius: 30px; }
.owl-full .owl-dots .owl-dot.active span, .owl-full .owl-dots .owl-dot:hover span {
  transform: scale(2);
  background-color: rgba(194,157,113,1); }



.owl-thumb .slide-item {
  cursor: pointer;
  .img:after, .img:before {
    transition: all 300ms ease;
    opacity: .7;
  }
}
.owl-thumb .slide-item:hover {
  .img:after, .img:before {
    opacity: 0;
  }
}
.owl-thumb .slide-item:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: rem-calc(1) solid rgba(194,157,113,0);
  transform: scale(1);
  transition: all 300ms 0s ease;
  pointer-events: none;
}
.owl-thumb .slide-item:hover:before {
  border: rem-calc(1) solid rgba(194,157,113,.9);
  transform: scale(.9);
}
.owl-thumb .owl-nav {
  position: absolute;
  top: 50%;
  transform: translate(0%,-50%);
  width: 100%;
  height: 100%;
  margin: 0;
  border: none;
  pointer-events: none;
  }
.owl-thumb .owl-nav [class*='owl-'] {
  pointer-events: auto;
  position: absolute;
  width: 50px;
  height: 100%;
  display: block;
  top: 0;
  font-size: 0;
  opacity: .5;
  transition: all 300ms ease;
  }
.owl-thumb .owl-nav .owl-next {
  right: rem-calc(-50);
}
.owl-thumb .owl-nav .owl-next:after {
  content: '';
  display: block;
  width: 100%;
  height: 100%;
  background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIiBwcmVzZXJ2ZUFzcGVjdFJhdGlvPSJ4TWlkWU1pZCIgd2lkdGg9IjI0IiBoZWlnaHQ9IjQwLjAzMSIgdmlld0JveD0iMCAwIDI0IDQwLjAzMSI+CiAgPGRlZnM+CiAgICA8c3R5bGU+CiAgICAgIC5jbHMtMSB7CiAgICAgICAgZmlsbDogIzNlMmEyOTsKICAgICAgICBmaWxsLXJ1bGU6IGV2ZW5vZGQ7CiAgICAgIH0KICAgIDwvc3R5bGU+CiAgPC9kZWZzPgogIDxwYXRoIGQ9Ik0xNC43MjAsMjAuMDAwIEwxLjExOCwzMy40OTIgQy0wLjM3NCwzNC45ODUgLTAuMzc0LDM3LjM5NSAxLjExOCwzOC44OTEgQzIuNjI2LDQwLjM4MyA1LjA2NCw0MC4zNzkgNi41NjcsMzguODkxIEwyMi44ODAsMjIuNjk5IEMyNC4zNzYsMjEuMjExIDI0LjM3NiwxOC43ODkgMjIuODgwLDE3LjMwMSBMNi41NjcsMS4xMDkgQzUuMDY0LC0wLjM4MyAyLjYyNiwtMC4zNzkgMS4xMTgsMS4xMDkgQy0wLjM3NCwyLjYwMiAtMC4zNzQsNS4wMTYgMS4xMTgsNi41MDggTDE0LjcyMCwyMC4wMDAgWiIgY2xhc3M9ImNscy0xIi8+Cjwvc3ZnPgo=);
  background-size: rem-calc(10);
  background-repeat: no-repeat;
  background-position: center;
}
.owl-thumb .owl-nav .owl-prev {
  left: rem-calc(-50);
}
.owl-thumb .owl-nav .owl-prev:after {
  content: '';
  display: block;
  width: 100%;
  height: 100%;
  background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIiBwcmVzZXJ2ZUFzcGVjdFJhdGlvPSJ4TWlkWU1pZCIgd2lkdGg9IjI0IiBoZWlnaHQ9IjQwLjAzMSIgdmlld0JveD0iMCAwIDI0IDQwLjAzMSI+CiAgPGRlZnM+CiAgICA8c3R5bGU+CiAgICAgIC5jbHMtMSB7CiAgICAgICAgZmlsbDogIzNlMmEyOTsKICAgICAgICBmaWxsLXJ1bGU6IGV2ZW5vZGQ7CiAgICAgIH0KICAgIDwvc3R5bGU+CiAgPC9kZWZzPgogIDxwYXRoIGQ9Ik0xNC43MjAsMjAuMDAwIEwxLjExOCwzMy40OTIgQy0wLjM3NCwzNC45ODUgLTAuMzc0LDM3LjM5NSAxLjExOCwzOC44OTEgQzIuNjI2LDQwLjM4MyA1LjA2NCw0MC4zNzkgNi41NjcsMzguODkxIEwyMi44ODAsMjIuNjk5IEMyNC4zNzYsMjEuMjExIDI0LjM3NiwxOC43ODkgMjIuODgwLDE3LjMwMSBMNi41NjcsMS4xMDkgQzUuMDY0LC0wLjM4MyAyLjYyNiwtMC4zNzkgMS4xMTgsMS4xMDkgQy0wLjM3NCwyLjYwMiAtMC4zNzQsNS4wMTYgMS4xMTgsNi41MDggTDE0LjcyMCwyMC4wMDAgWiIgY2xhc3M9ImNscy0xIi8+Cjwvc3ZnPgo=);
  background-size: rem-calc(10);
  background-repeat: no-repeat;
  background-position: center;
  transform: rotate(180deg);
}
.owl-thumb .owl-nav [class*='owl-']:hover {
  opacity: 1;
}
.owl-thumb .owl-nav .disabled {
  opacity: 0.5;
  cursor: default; }

.owl-thumb .owl-nav.disabled + .owl-dots {
  margin-top: 10px; }

.owl-thumb .owl-dots {
  position: absolute;
  bottom: rem-calc(50);
  left: rem-calc(50);
  text-align: center;
  -webkit-tap-highlight-color: transparent; }
.owl-thumb .owl-dots .owl-dot {
  display: block;

}
.owl-thumb .owl-dots .owl-dot span {
  width: rem-calc(6);
  height: rem-calc(6);
  transform: scale(1);
  margin: rem-calc(20 5);
  background-color: rgba(255,255,255,1);
  display: block;
  -webkit-backface-visibility: visible;
  transition: all 200ms ease;
  border-radius: 30px; }
.owl-thumb .owl-dots .owl-dot.active span, .owl-thumb .owl-dots .owl-dot:hover span {
  transform: scale(2);
  background-color: rgba(194,157,113,1); }




.slider-tabs {
  position: absolute;
  z-index: 1;
  bottom: 0;
  text-align: center;
  overflow: hidden;
  width: 100%;
  display: flex;
  justify-content: center;
  pointer-events: none;
}


.slider-tabs .item {
  width: rem-calc(190);
  padding: rem-calc(40);
  background-color: rgba(194,157,113,.8);
  transform: translateY(rem-calc(40));
  font-size: 0;
  transition: all 300ms 0s ease;
  pointer-events: auto;
  cursor: pointer;
}
.slider-tabs .item.active {
  transform: translateY(rem-calc(0));
  background-color: rgba(180,135,81,1);
  .label {
    transform: translateY(rem-calc(0));
  }
}
.slider-tabs .item .label {
  color: rgba(53,35,15,1);
  font-family: 'PT Serif', serif;
  font-weight: 700;
  text-transform: uppercase;
  line-height: rem-calc(16);
  font-size: rem-calc(16);
  width: 100%;
  padding: rem-calc(14 0 10);
  position: relative;
  transform: translateY(rem-calc(40));
  transition: all 400ms 0s ease;
  background-color: transparent;
  cursor: pointer;
}